body {
  margin: 0px auto;
  max-width: 1500px;
  font-family: 'Fjalla One', sans-serif;
}
#home{
    
    font: 40px/100%  'Fjalla One', sans-serif;
}
#contact{
    font: 20px/100% 'Fjalla One', sans-serif;

}